<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert to Title Case!</title>
</head>
<body>
    <div class='container'>
        <h1>Anagram</h1>
        <p>Enter the word and list of words you would like to check against</p>
        <form action='/view_title_case'>
            <div class='form-group'>
              <label for='word'>words</label>
              <input id='word' name='word' class='form-control' type='text'>
            </div>
            <input id='words' name='words' class='form-control' type='text'>
          </div>
            <button type='submit' class='btn-success'>Search</button>
        </form>
    </div>
</body>
</html>
